.html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

.App{
    position: relative;
    opacity: 1;
}


/* header section */
.header nav{
    background: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header nav .logo{
    color: rgb(220, 243, 9);
    font-size: 1.5rem;
    cursor: pointer;
}

.header nav .cart{
    position: relative;
    cursor: pointer;
}

.header nav .cart .quantity{
    position: absolute;
    top: .2rem;
    right: -.8rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 1.3rem;
    background: rgb(18, 68, 233);
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* content section */
.box-container{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

.box-container .box{
    width: 15rem;
    margin: .5rem;
    border: .1rem solid rgba(0,0,0,0.1);
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.box-container .box .image img{
    width: 100%;
}

.box-container .box .info h3{
    margin-bottom: .3rem;
}

.box-container .box .info .stars i{
    color: orange;
}

.box-container .box .info .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
}

.box-container .box .info .row .btn{
    margin: .3rem;
    height: 2rem;
    cursor: pointer;
}

.box-container .box .info .row .price {
    font-weight: bold;
}


/* cart section */
.modal{ 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    display: none;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; 
}

.modal .modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.modal .modal-content .modal-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

.modal .modal-content .modal-header .close{
    font-size:3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal .modal-content .modal-body{
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal .modal-content .modal-body table tr{
    height: 5rem;
}

.modal .modal-content .modal-body table tr td{
    padding-left: 1rem;
}
.modal .modal-content .modal-body table tr td img{
    width: 10rem;
}

.modal .modal-content .modal-body table tr td input,.modal .modal-content .modal-body table tr td button{
    width: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal .modal-content .modal-body table tr td i:hover{
    color: red;
}

.modal .modal-content .totalPrice h3{
    font-size: 2rem;
    padding: 0;
    margin: .5rem;
}

.modal .modal-content .totalPrice button{
    margin: .5rem;
    padding: .5rem;
}




/* media queries */
@media (max-width: 767px) {
    html{
        font-size:55%;
    }
}

@media (max-width: 440px) {

    html{
        font-size:50%;
    }

    .modal .modal-header{
        min-width: 100vh;
    }

    .modal .modal-content{
        width: 100%;
    }

}



